.selector{
    box-sizing:content-box;
}

nav{ 
    background-image:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url('../background/bluebackdrop.jpeg');
}

.box{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
.card{
    margin: 20px; 
}
  
.edit-form{
    margin: 25px;
}
fieldset{
    padding: 25px;
}
buttons{
    display:block;
    margin-bottom:15px;
}

img {
    size: 5rem;
}

  
    
