{% extends 'base.html' %} 
{% block title %} Gift Set{% endblock %}
{% block content %}
<div class="detail__container">
      {% for giftset in giftsets %}
        <div class="gallery">
            <hr />
                {% for card in giftset.cards.all %}
                     <div class="card">
                        <div class="card-image">
                            <figure class="image is-square">
                                 <img  src="{{card.image}}" alt="{{card.name}}" />
                            </figure>
                         </div>
                    </div>
                {% endfor %}
        </div>
        <div class="gallery">
            <hr />
                {% for mug in giftset.mugs.all %}
                     <div class="card">
                        <div class="card-image">
                            <figure class="image is-square">
                                 <img  src="{{mug.image}}" alt="{{mug.name}}" />
                            </figure>
                         </div>
                    </div>
                {% endfor %}
        </div>
        <div class="gallery">
            <hr />
                {% for photo in giftset.photos.all %}
                     <div class="card">
                        <div class="card-image">
                            <figure class="image is-square">
                                 <img  src="{{photo.image}}" alt="{{photo.name}}" />
                            </figure>
                         </div>
                    </div>
                {% endfor %}
        </div>
        <div class="gallery">
            <hr />
                {% for puzzle in giftset.puzzles.all %}
                     <div class="card">
                        <div class="card-image">
                            <figure class="image is-square">
                                 <img  src="{{puzzle.image}}" alt="{{puzzle.name}}" />
                            </figure>
                         </div>
                    </div>
                {% endfor %}
        </div>
        <h3 class="title is-3 has-text-success">{{giftset.title}}</h3>
        <h4> $ {{giftset.price}}</h4>
</div>
    {% empty %} 
        <div class="giftset mb-5">"There are no gift in this giftset"</div>
    {% endfor %}
</div> 
{% endblock %}