{% extends 'base.html' %} 
{% block title %}- {{header}} {% endblock%} 
{% block content %}

<h1 class="title">{{header}}</h1>

<form class="mb-5" method="get">
  <div class="field has-addons">
    <div class="control">
      <!--  Our input will search by name of print  -->
      <input class="input" type="text" name="name" placeholder="name" />
    </div>
    <div class="control">
      <input class="button is-success" type="submit" value="Search" />
    </div>
  </div>
  <!--  This anchor tag will redirect back to print list without a query param -->
  <a class="button is-dark" href="{% url 'print_list' %}">Clear Search</a>
  <a class="button is-dark" href="{% url 'print_create' %}">Add Print</a>
</form>
<div class="box">
  <main class="container-fluid">
    {% for print in prints %}
    <a href="{% url 'print_detail' print.pk %}">
      <div class="card" style = "width: 50rem;">
        <img class="card-image" src="{{print.image}}" alt="{{print.name}}" />
        <div class="card-body">
          <h3 class="card-title">{{print.name}}</h3>
          <span >Starting at $ {{print.price}}</span>
        </div>
      </div>
    </a>
    {% endfor %}
  </main>
</div>

{% endblock %}
       
   