{% extends 'base.html' %} 
{% block title %} Prints{% endblock %}
{% block content %}

<div class="detail__img">
    <img  src="{{print.image}}" alt="{{print.name}}" />
</div>
<div class="detail__name">
    {% if print.verified_print %}
    <div class="icon-text">
        <span class="icon has-text-info">
            <i class="fas fa-check-circle"></i>
        </span>
        
    </div>
    {% endif %}
    <h1 class="title">{{print.name}}</h1>
</div>
  <div class="detail__container">
    <div class="gallery">
      {% for card in print.cards.all %}
            <div class="card">
                <div class="card-image">
                  <figure class="image is-square">
                    <img  src="{{card.image}}" alt="{{card.name}}" />
                  </figure>
                </div>
                <div class="card-header">
                  <h3 class="card-header-title">{{card.name}}</h3>
                  <h5>$ {{card.price}}</h5>
                </div>
               
                  <span>
                    <div class="dropdown">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                <span>Add to Giftset</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                              {% for giftset in giftsets %}
                                  <a href="{% url 'giftset_card_assoc' giftset.pk card.pk %}?assoc=add" class="dropdown-item">
                                    {{giftset.title}} 
                                  </a>
                              {% endfor %}
                        </div>
                    </div>
                  </span>
            </div>
           </div> 
      {% endfor %}       
  </div>

  <div class="detail__container">
    <div class="gallery">
      {% for mug in print.mugs.all %}
            <div class="card">
                <div class="card-image">
                  <figure class="image is-square">
                    <img  src="{{mug.image}}" alt="{{mug.name}}" />
                  </figure>
                </div>
                <div class="card-header">
                  <h3 class="card-header-title">{{mug.name}}</h3>
                  <h5>$ {{mug.price}}</h5>
                </div>
               
                  <span>
                    <div class="dropdown">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                <span>Add to Giftset</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                              {% for giftset in giftsets %}
                                  <a href="{% url 'giftset_mug_assoc' giftset.pk mug.pk %}?assoc=add" class="dropdown-item">
                                    {{giftset.title}} 
                                  </a>
                              {% endfor %}
                        </div>
                    </div>
                  </span>
            </div>
           </div> 
      {% endfor %}       
  </div>
  <div class="detail__container">
    <div class="gallery">
      {% for photo in print.photos.all %}
            <div class="card">
                <div class="card-image">
                  <figure class="image is-square">
                    <img  src="{{photo.image}}" alt="{{photo.name}}" />
                  </figure>
                </div>
                <div class="card-header">
                  <h3 class="card-header-title">{{photo.name}}</h3>
                  <h5>$ {{photo.price}}</h5>
                </div>
               
                  <span>
                    <div class="dropdown">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                <span>Add to Giftset</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                              {% for giftset in giftsets %}
                                  <a href="{% url 'giftset_photo_assoc' giftset.pk photo.pk %}?assoc=add" class="dropdown-item">
                                    {{giftset.title}} 
                                  </a>
                              {% endfor %}
                        </div>
                    </div>
                  </span>
            </div>
           </div> 
      {% endfor %}       
  </div>
  <div class="detail__container">
    <div class="gallery">
      {% for puzzle in print.puzzles.all %}
            <div class="card">
                <div class="card-image">
                  <figure class="image is-square">
                    <img  src="{{puzzle.image}}" alt="{{puzzle.name}}" />
                  </figure>
                </div>
                <div class="card-header">
                  <h3 class="card-header-title">{{puzzle.name}}</h3>
                  <h5>$ {{puzzle.price}}</h5>
                </div>
               
                  <span>
                    <div class="dropdown">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                <span>Add to Giftset</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                              {% for giftset in giftsets %}
                                  <a href="{% url 'giftset_puzzle_assoc' giftset.pk puzzle.pk %}?assoc=add" class="dropdown-item">
                                    {{giftset.title}} 
                                  </a>
                              {% endfor %}
                        </div>
                    </div>
                  </span>
            </div>
           </div> 
      {% endfor %}       
  </div>
  
<div class="buttons">
    
    <a href="{% url 'print_update' print.pk %}" class="button is-info"> 
        <span class="icon">
            <i class="fas fa-edit"></i>
        </span>
    </a>    
    <a href="{% url 'print_delete' print.pk %}" class="button is-danger">
        <span class="icon">
            <i class="fas fa-trash-alt"></i>
        </span>
    </a>
    
</div>
    
{% endblock %}
    
    