{% extends 'base.html' %} 
{% block title %}- {{header}} {% endblock%} 
{% block content %}

<h1 class="title">{{header}}</h1>

<div class="box">
  <main class="container-fluid">
    {% for print in prints %}
    <a href="{% url 'print_detail' print.pk %}">
      <div class="card" style = "width: 50rem;">
        <img class="card-image" src="{{print.image}}" alt="{{print.name}}" />
        <div class="card-body">
          <h3 class="card-title">{{print.name}}</h3>
          <span >Starting at $ {{print.price}}</span>
        </div>
      </div>
    </a>
    {% endfor %}
  </main>
  
</div>


{% endblock %}
       
   